image: lambci/lambda:build-nodejs6.10

pipelines:
  custom: # Pipelines that can only be triggered manually
    prod-deploy:
      - step:
          name: Test and deploy to prduction
          deployment: production
          caches:
            - gradle
          services:
            - mysql
          script:
            - ./gradlew build
            - ls -l ./build/distributions/
            - export AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID
            - export AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
            - npm install -g serverless
            - serverless -version
            - serverless deploy -stage=prod
  default:
    - step:
        name: Test and deploy to dev
        deployment: test
        caches:
          - gradle
        services:
          - mysql
        script:
          - ./gradlew build
          - ls -l ./build/distributions/
          - export AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID
          - export AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
          - npm install -g serverless
          - serverless -version
          - serverless deploy
definitions:
  services:
    mysql:
      image: mysql
      environment:
        MYSQL_DATABASE: posapps_woo_customer_test
        MYSQL_ROOT_PASSWORD: password
        MYSQL_USER: posapps_test
        MYSQL_PASSWORD: password